//==========================================================================================================================================

// main-block
.main-block {
    position: relative;
    // .main-block__slider

    &__slider {
    }

    // .main-block__body

    &__body {
        position: relative;
    }

    // .main-block__item

    &__item {
    }
}
.item-main-block {

    // .item-main-block__content

    &__content {
        position: relative;
        z-index: 2;
        @include adaptiv-value("padding-top", 278, 150, 1);
        @include adaptiv-value("padding-bottom", 70, 40, 1);
    }

    // .item-main-block__decor

    &__decor {
        margin-bottom: 15px;
        transition: all 0.5s ease;
        transform: translate(0px, 120%);
        opacity: 0;
        &._active{
            transition: all 0.5s ease;
            transform: translate(0px, 0px);
            opacity: 1;
        }
    }

    // .item-main-block__title

    &__title {
        margin-bottom: 15px;
        max-width: 530px;

        transition: opacity, transform 0.5s ease;
        transform: translate(0px, 120%);
        opacity: 0;
        transition-delay: 0.5s;
        &._active{
            transition: opacity, transform 0.5s ease;
            transition-delay: 0.5s;
            transform: translate(0px, 0px);
            opacity: 1;
        }
    }

    // .item-main-block__info

    &__info {
        display: flex;
        gap: 10px;
        @include adaptiv-value("margin-bottom", 62, 30, 1);
        @media (max-width: 375px) {
            flex-direction: column;
        }
        transition-delay: 1s;
        transition: opacity, transform 0.5s ease;
        transform: translate(0px, 120%);
        opacity: 0;
        &._active{
            transition: opacity, transform 0.5s ease;
            transition-delay: 1s;
            transform: translate(0px, 0px);
            opacity: 1;
        }
    }

    // .item-main-block__date

    &__date {
    }

    // .item-main-block__line

    &__line {
        width: 30px;
        height: 1px;
        background-color: #E5E5E5;
        margin-top: 10px;
        @media (max-width: 375px) {
            display: none;
        }
    }

    // .item-main-block__text

    &__text {
        max-width: 420px;
    }

    // .item-main-block__pagging

    &__pagging {
        position: absolute;
        bottom: 9%!important;
        left: 50%!important;
        z-index: 2;
        width: 20%!important;
        transform: translate(-50%, 0);
        .swiper-pagination-bullet{
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: rgba(255, 255, 255, 0.9);
        }
        .swiper-pagination-bullet-active{
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: #FFFFFF;
        }
    }

    // .item-main-block__image

    &__image {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
}

//==========================================================================================================================================
// tabs
.popular {

    // .popular__container

    &__container {
    }

    // .popular__content

    &__content {
        @include adaptiv-value('padding-top', 150, 60, 1);
        @include adaptiv-value('padding-bottom', 150, 60, 1);
    }

    // .popular__title

    &__title {
        color: #495057;
        margin-bottom: 30px;
        transition: all 0.5s ease;
        transform: translate(0px, 120%);
        opacity: 0;
        &._active{
            transition: all 0.5s ease;
            transform: translate(0px, 0px);
            opacity: 1;
        }
    }

    // .popular__tabs

    &__tabs {
    }

    // .popular__tabs-block

    &__tabs-block {
    }

    // .popular__navigation

    &__navigation {
        display: flex;
        gap: 20px;
        margin-bottom: 30px;
        flex-wrap: wrap;
        transition: all 0.5s ease;
        transition-delay: 0.5s;
        transform: translate(0px, 120%);
        opacity: 0;
        &._active{
            transition: all 0.5s ease;
            transition-delay: 0.5s;
            transform: translate(0px, 0px);
            opacity: 1;
        }
        @media (max-width: 479px) {
            justify-content: center;
        }
    }

    // .popular__tabs-title

    &__tabs-title {
        background-color: transparent;
        color: #495057;
        &._tab-active{
			color: #D4A373;
		}
    }

    // .popular__tabs-content

    &__tabs-content {
    }

    // .popular__tabs-body

    &__tabs-body {
        display: none;
		&._tab-active{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 20px;
            @media (max-width: 991px) {
                grid-template-columns: 1fr 1fr 1fr;
            }
            @media (max-width: 768px) {
                grid-template-columns: 1fr 1fr;
                justify-items: center;
            }
            @media (max-width: 479px) {
                grid-template-columns: 1fr;
            }
		}
    }
}


.tabs-body {

    // .tabs-body_block

    &_block {
        
    }

    // .tabs-body__item

    &__item {
        max-width: 310px;
        
    }

    // .tabs-body__image

    &__image {
        margin-bottom: 15px;
        position: relative;
        img{
            max-width: 100%;
            object-fit: cover;
        }
    }
    
    &__decor{
        position: absolute;
        top: 6%;
        right: 6%;
        z-index: 2;
    }

    // .tabs-body__number

    &__number {
        color: #6C757D;
        margin-bottom: 15px;
    }

    // .tabs-body__title

    &__title {
        color: #495057;
        margin-bottom: 15px;
    }

    // .tabs-body__text

    &__text {
        color: #6C757D;
    }
}

//==========================================================================================================================================
// water
.block-water {
    position: relative;
    // .block-water__content

    &__content {
        position: relative;
        z-index: 2;
        @include adaptiv-value('padding-top', 178, 70, 1);
        @include adaptiv-value('padding-bottom', 178, 70, 1);
    }

    // .block-water__block

    &__block {
        text-align: center;
    }

    // .block-water__decor

    &__decor {
        margin-bottom: 25px;
        transition: all 0.5s ease;
       
    }

    // .block-water__title

    &__title {
        max-width: 530px;
        margin: 0 auto 13px auto;
        
    }

    // .block-water__text

    &__text {
        max-width: 420px;
        margin: 0 auto 24px auto;
        
    }

    // .block-water__date

    &__date {
       
    }

    // .block-water__image

    &__image {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
}
//==========================================================================================================================================
//editors
.editors {

    // .editors__container

    &__container {
    }

    // .editors__content

    &__content {
        @include adaptiv-value('padding-top', 150, 60, 1);
        @include adaptiv-value('padding-bottom', 150, 60, 1);
        
    }

    // .editors__title

    &__title {
        color: #495057;
        @include adaptiv-value('margin-bottom', 70, 30, 1);
    }


    // .editors__block-item

    &__block-item {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        @media (max-width: 991px) {
            grid-template-columns: 1fr 1fr;
        }
        @media (max-width: 768px) {
            grid-template-columns: 1fr;
            justify-items: center;
        }
    }


    // .editors__item

    &__item {
        position: relative;
        max-width: 420px;
        transition: transform .5s ease;
        transform: scale(0);
        &._active{
            transition: transform .5s ease;
            transform: scale(1);
        }
    }


    // .editors__body

    &__body {
        position: relative;
        z-index: 2;
        padding: 153px 40px 40px 40px;
        @media (max-width: 479px) {
            padding: 120px 20px 20px 20px;
        }
        
    }


    // .editors__number

    &__number {
        margin-bottom: 15px;
    }

    &__subtitle{
        margin-bottom: 15px;
        color: #FFFFFF;

    }
    // .editors__text

    &__text {
        margin-bottom: 15px;
    }

    // .editors__image

    &__image {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        img{
            border-radius: 5px;
        }
    }

    // .editors__decor

    &__decor {
        position: absolute;
        top: 6%;
        right: 6%;
        z-index: 2;
    }
}










